debug/
target/
Cargo.lock
**/*.rs.bk
*.pdb
**/__pycache__/
.vscode/*
!.vscode/settings.json

# program-created data
**/reddit_data.json
**/discord_data.json
**/re_data.json
**/dc_data.json
**/cfg.toml